<mat-card>
    <mat-card-content class= "table-align-geral">
        <div class="input-row">
            <mat-form-field fxFlex>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <div class="input-row" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

            <table mat-table [dataSource]="dataSource" fxFlex  class=" fxClass-all mat-elevation-z8">
<div class= "table-font-relacao">
                <ng-container matColumnDef="Atividade">
                    <th  class= "th-font-relacao" mat-header-cell *matHeaderCellDef> Atividade </th>
                    <td mat-cell *matCellDef="let element"> {{element.nomeAtividade}} </td>
                </ng-container>

                <ng-container matColumnDef="Descrição">
                    <th class= "th-font-relacao" mat-header-cell *matHeaderCellDef> Descrição </th>
                    <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                </ng-container>

                <ng-container matColumnDef="Scripts">
                    <th class= "th-font-relacao" mat-header-cell *matHeaderCellDef> Scripts </th>
                    <td mat-cell *matCellDef="let element"> {{element.scripts ? 'Sim' : 'Não'}} </td>
                </ng-container>

                <ng-container matColumnDef="Fontes">
                    <th class= "th-font-relacao" mat-header-cell *matHeaderCellDef> Fontes </th>
                    <td mat-cell *matCellDef="let element"> {{element.fontes}} </td>
                </ng-container>

                <ng-container matColumnDef="Data Entrega">
                    <th class= "th-font-relacao" mat-header-cell *matHeaderCellDef> Data Entrega </th>
                    <td mat-cell *matCellDef="let element"> {{element.dataEntrega}} </td>
                </ng-container>

                <ng-container matColumnDef="Ambiente">
                    <th class= "th-font-relacao" mat-header-cell *matHeaderCellDef> Ambiente </th>
                    <td mat-cell *matCellDef="let element"> {{element.ambientes}} </td>
                </ng-container>
              </div>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>


    </mat-card-content>
</mat-card>
