
.button-novaEntrega {

  background:rgb(143, 221, 235);

}

.atividade-div1 {
  padding-left:2%;
  padding-right: 2%;
  padding-top: 2%;
}


.button-retirarAmbiente {

  background:rgb(238, 119, 119);

}
.button-enviarProducao {

  background:rgb(136, 250, 170);

}
.button-salvar {
  background:rgb(171, 228, 85);
}

.atividade-div2 {
  padding-left:5%;
  padding-right: 2%;
  padding-top: 2%;
}

.mat-form-center {
  text-align: center;
}

