<mat-card>
    <mat-card-content>
        <form [formGroup]="atividadeForm">
            <div gdAreas=" esquerda direita" gdGap="3px" gdRows="auto auto auto" gdAreas.lt-md=" esquerda | direita" gdRows.lt-md="auto auto">
                <div class="esquerda" gdArea="esquerda" fxFlex="100%">

                    <div fxLayout="column" fxFlexFill class="atividade-div1">
                        <mat-form-field class="mat-form-center">
                            <input matInput placeholder="Atividade"  name="nomeAtividade" formControlName="nomeAtividade" type="text">
                        </mat-form-field>
                        <mat-form-field class="mat-form-center">
                            <textarea matInput rows="10" cols="5" placeholder="Descrição" name="descricao" formControlName="descricao" ></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="direita" gdArea="direita" fxFlex="100%">
                    <div fxLayout="column" fxFlexFill class="atividade-div2">
                        <mat-form-field>
                            <mat-select [(value)]="liderSelecionado" placeholder="Líder projeto" (selectionChange)="eventSelectionLider($event.value)">
                                <mat-option>Nenhum</mat-option>
                                <mat-option *ngFor="let lider of lideres" [value]="lider.id">
                                    {{lider.usuario}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select [(value)]="liderTecSelecionado" placeholder="Responsável projeto" (selectionChange)="eventSelectionLiderTec($event.value)">
                                <mat-option>Nenhum</mat-option>
                                <mat-option *ngFor="let tec of lideresTec" [value]="tec.id">
                                    {{tec.usuario}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select [(value)]="sistemaSelecionado" placeholder="Sistema" (selectionChange)="eventSelectionSistema($event.value)">
                                <mat-option>Nenhum</mat-option>
                                <mat-option *ngFor="let sistema of sistemas" [value]="sistema.id">
                                    {{sistema.descricao}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select [(value)]="moduloSelecionado" placeholder="Modulo" (selectionChange)="eventSelectionModulo($event.value)">
                                <mat-option>Nenhum</mat-option>
                                <mat-option *ngFor="let modulo of modulosFiltrados" [value]="modulo.id">
                                    {{modulo.descricao}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Branch" name="branch" formControlName="branch">
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Fontes" name="fontes" formControlName="fontes">
                        </mat-form-field>

                        <mat-checkbox name="scripts" formControlName="scripts">Scripts</mat-checkbox>

                        <mat-form-field>
                            <input class="input-release" matInput [matDatepicker]="picker" placeholder="Release" name="release" formControlName="release">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>
            </div>



        </form>

        <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-around center">
            <div class="button-novaEntrega"><button mat-button type="submit" (click)="novaEntrega()" color="black">Nova Entrega</button></div>
            <div class="button-retirarAmbiente"><button mat-button type="submit" (click)="retirarAmbiente()">Retirar Ambiente</button></div>
            <div class="button-enviarProducao"><button mat-button type="submit" (click)="enviarProducao()">Enviar Produção</button></div>
            <div class="button-salvar"><button mat-button type="submit" (click)="salvar()"> Salvar</button></div>
        </div>

    </mat-card-content>
</mat-card>
