<mat-card>
    <mat-card-content class="table-align-geral">
        <div class="input-row">
            <mat-form-field fxFlex>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>


        <div >


            <table matSort mat-table [dataSource]="dataSource" fxFlex >
              
                <ng-container matColumnDef="Atividade">
                    <th mat-header-cell *matHeaderCellDef> Atividade </th>
                    <td mat-cell *matCellDef="let element"> {{element.nomeAtividade}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Descrição">
                    <th mat-header-cell *matHeaderCellDef> Descrição </th>
                    <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                </ng-container>

                <ng-container matColumnDef="Scripts">
                    <th mat-header-cell *matHeaderCellDef> Scripts </th>
                    <td mat-cell *matCellDef="let element"> {{element.scripts ? 'Sim' : 'Não'}} </td>
                </ng-container>

                <ng-container matColumnDef="Fontes">
                    <th mat-header-cell *matHeaderCellDef> Fontes </th>
                    <td mat-cell *matCellDef="let element"> {{element.fontes}} </td>
                </ng-container>

                <ng-container matColumnDef="Sistema">
                    <th mat-header-cell *matHeaderCellDef> Sistema </th>
                    <td mat-cell *matCellDef="let element"> {{element.sistema}} </td>
                </ng-container>

                <ng-container matColumnDef="Modulo">
                    <th mat-header-cell *matHeaderCellDef> Modulo </th>
                    <td mat-cell *matCellDef="let element"> {{element.modulo}} </td>
                </ng-container>

                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.statusAtividade}} </td>
                </ng-container>

                <ng-container matColumnDef="Ambiente">
                    <th mat-header-cell *matHeaderCellDef> Ambiente </th>
                    <td mat-cell *matCellDef="let element"> {{element.ambientes}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)"></tr>
            </table>

          </div>



    </mat-card-content>


</mat-card>
