.mat-tab-label {
    width: 50%;
}

.mat-toolbar {

  background-image: -moz-linear-gradient(right, #f0f0f0, #74c4f1e0);
  background-image: -o-linear-gradient(right, #f0f0f0, #74c4f1e0);
  background-image: linear-gradient(to right, #f0f0f0, #74c4f1e0);
}

.img-logo {
  width: 100px;
  height: 98px;
}

.mat-tab-label-content {
  font-size: 16px;
}

::ng-deep .mat-card {
    border: 55px solid !important;
    border-radius: 30px !important;
    border: #000 !important;
}

.snack-sucesso {
    background-color: #72B01D;
    color: #f7f0cf;
}

.snack-erro {
    background-color: #680000;
    color: #f7f0cf;
}

.mat-simple-snackbar {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    line-height: 20px !important;
    opacity: 1 !important;
}

.highlight {
    background: #E8D7F1;
}

.mat-row:hover {
    background-color: #E8D7F1;
}

