
<div  fxLayout="row" >

<img class="img-logo" src="assets/img/logo33.jpg"/>
  <mat-toolbar fxLayoutAlign="space-around center" style="height: 98px">

    <p >Seja bem vindo ao BIA!</p>

</mat-toolbar>
</div>
<mat-tab-group #tabsBia>


    <mat-tab label="Geral">
        <app-geral (atividadeSelecionada)="onMudouValor($event)"></app-geral>
    </mat-tab>
    <mat-tab label="Relação Entrega">
        <app-relacao-entrega></app-relacao-entrega>
    </mat-tab>
    <mat-tab label="Atividade">
        <app-create-atividade [atividadeSelecionada]="atividadeSelecionada"></app-create-atividade>
    </mat-tab>
    <mat-tab label="Sistema">
        <app-sistema></app-sistema>
    </mat-tab>
    <mat-tab label="Modulo">
        <app-modulo></app-modulo>
    </mat-tab>
    <mat-tab label="Ambiente/Modulo">
        <app-ambiente-modulo></app-ambiente-modulo>
    </mat-tab>

</mat-tab-group>

