<h2 mat-dialog-title>Atividade</h2>

<mat-dialog-content>
    <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="4%">
        <form [formGroup]="deletarEntregaForm">
            <mat-form-field>
                <mat-select [(value)]="ambienteSelecionado" placeholder="Ambiente" (selectionChange)="eventSelectionAmbiente($event.value)">
                    <mat-option>Nenhum</mat-option>
                    <mat-option *ngFor="let ambiente of ambientes" [value]="ambiente.id">
                        {{ambiente.descricao}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <textarea matInput rows="5" cols="5" placeholder="Motivo" name="movitvo" formControlName="motivo" style="text-align: left"></textarea>
            </mat-form-field>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center">
                <div><button mat-button type="submit" (click)="retirarEntrega()" color="black">Confirma</button></div>

                <div><button mat-button type="submit" (click)="close()" color="black">Fechar</button></div>
            </div>
        </form>
    </div>
</mat-dialog-content>
