
<mat-card>
   <mat-card-content>
      <form fxLayout="column" [formGroup]="sistemaForm" (ngSubmit)="add(sistemaForm)">
         <div class="  input-row" fxLayout="row " fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="1px">
            <mat-form-field fxFlex>
               <mat-select placeholder="Sistemas" (selectionChange)="eventSelection($event.value)"
                  name="sistemaSelecionado">
                  <mat-option>Nenhum</mat-option>
                  <mat-option *ngFor="let sistema of sistemas" [value]="sistema">{{ sistema.descricao }}</mat-option>
               </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex>
               <input matInput placeholder="Informe o nome do sistema" name="descricao" formControlName="descricao">
            </mat-form-field>

            <div class="button-save-sistema">
            <button  mat-button type="submit" (click)="add()">Salvar</button>
            </div>

         </div>



      </form>
   </mat-card-content>
</mat-card>
