md-tab-group {
    background-color: pink;
  }
  .mat-tab-body-wrapper {
    color: white;
    background-color: red;
  }
  .mat-tab-label.mat-tab-label-active {
    background-color: #3f51b5;
  }

  .button-save-sistema {
    width: 75px;
    background:rgb(171, 228, 85);
    height: fit-content;
  }
