<h2 mat-dialog-title>Atividade:{{atividade.id}}</h2>

<mat-dialog-content>
    <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="10%">
        <form class="margin-entrega" [formGroup]="entregaForm">
            <mat-form-field >
                <mat-select  [(value)]="ambienteSelecionado" placeholder="Ambiente" (selectionChange)="eventSelectionAmbiente($event.value)">
                    <mat-option>Nenhum</mat-option>
                    <mat-option *ngFor="let ambiente of ambientes" [value]="ambiente.id">
                        {{ambiente.descricao}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Data Entrega" name="dataEntrega" formControlName="dataEntrega">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-around center">
                <div><button mat-button type="submit" (click)="novaEntrega()" color="black">Confirma</button></div>


                <div><button mat-button type="submit" (click)="close()" color="black">Fechar</button></div>
            </div>
        </form>
    </div>
</mat-dialog-content>
